<form {{action 'save' on='submit'}}>
  {{#each player.errors.base as |error|}}
    <p class="error">{{error.message}}</p>
  {{/each}}

  <p>
    {{input value=player.name placeholder="Player name" name="name"}}
    {{#each player.errors.name as |error|}}
      <span class="error">{{error.message}}</span>
    {{/each}}
  </p>

  <p><button disabled={{saveIsDisabled}}>Save player</button></p>
</form>

