<p>
  {{#power-select selected=model.winner options=players onchange=(action 'winnerChange') as |player|}}
    {{player.name}}
  {{/power-select}}
</p>

<p>
  {{#power-select selected=model.loser options=players onchange=(action 'loserChange') as |player|}}
    {{player.name}}
  {{/power-select}}
</p>

<p>
  <button {{action 'save' model}} disabled={{saveIsDisabled}}>Save result</button>
</p>
