<h1>Hall of Ping Pong</h1>

<p>Order by: {{#link-to (query-params sortBy='name')}}name{{/link-to}} - {{#link-to (query-params sortBy='score')}}score{{/link-to}}</p>
<p>Order direction: {{#link-to (query-params sortDir='asc')}}ascending{{/link-to}} - {{#link-to (query-params sortDir='desc')}}descending{{/link-to}}</p>

{{rankings-table players=model orderRule=playersSortingKeyDir}}

<p>{{link-to "Add player" 'players.new'}}</p>
<p>{{link-to "New result" 'results.new'}}</p>

{{liquid-outlet}}
